.WidgetTextInput {
  width: 50%;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  background-color: #282828;
  color: #eee;
  position: fixed;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: normal;
  padding: 10px;
  box-sizing: border-box;
  z-index: 11;
}

.WidgetTextInputHeader {
  font-size: 20px;
  margin-bottom: 20px;
}
