.StrongestEarthquake .highcharts-title {
  font-size: 12px;
  text-transform: none;
}

.StrongestEarthquake .highcharts-color-0 {
  fill: #728c43;
  stroke: #728c43;
}

.StrongestEarthquake .highcharts-pane-group {
  max-width: 90%;
}
