.loginCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: 8em;
  width: 40%;
  background-color: white;
  height: 10%;
  padding-top: 200px;
  padding-bottom: 200px;
  border-radius: 10px;
  border: 4px solid black;
}

.logonDiv > input {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 150;
  background-color: #2acaff69;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -20px;
}

.logonDiv > a {
  top: 50%;
  color: white;
  background-color: #2acaff;
  margin: auto;
  font-size: 1.5em;
  padding: 4px;
  border-radius: 5px;
}
